.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fff;
  background-color: #0e0041;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/*AI: css for top nav bar and side nav bar */
.topnav {
  position: relative;
  height: 60px;
  background-color: darkgray;
  overflow: hidden;
  border-radius: 10px;
  
}

.nav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
}

.topnav button {
  background-color: darkgray;
  box-shadow: none;
}

.topnav button:hover {
  border-color: rgb(62, 60, 60);
  border-width: 2px;
}

.topnav button:active {
  background-color: rgb(69, 69, 69);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 8px;
  z-index: 1;
  left: 0;
  background-color: darkgray; 
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 0px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.sidenav label {
  padding: 8px 0px 0px 32px;
  font-size: 20px;
  display: inline-block;
  color: black;
}

/* AI: End new code */

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

/* JJ: START NEW CODE*/

/* FOR NEW FOLDER WINDOW */
.newFolderDialog {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22,22,22,0.5);
  display: none;
}

.newFolderDialog-content {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* animation-name: animatefade; */
  animation-duration: 0.4s
}

.newFolderDialog-content h2 {
  margin-bottom: 20px;
}

.newFolderDialog-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newFolderDialog-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0e0041;
  color: #fff;
  cursor: pointer;
}

.newFolderDialog-content button:hover {
  background-color: darkgreen;
}

.newFolderDialog-content button:active {
  background-color: darkolivegreen;
}

.newFolderDialog-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: darkblue;
}

.newFolderDialog-header h2 {
  margin: 0;
}

.newNoteToFolderDialog {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22,22,22,0.5);
  display: none;
}

.newNoteToFolderDialog-content {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* animation-name: animatefade; */
  animation-duration: 0.4s
}

.newNoteToFolderDialog-content h2 {
  margin-bottom: 20px;
}

.newNoteToFolderDialog-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newNoteToFolderDialog-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0e0041;
  color: #fff;
  cursor: pointer;
}

.newNoteToFolderDialog-content button:hover {
  background-color: darkgreen;
}

.newNoteToFolderDialog-content button:active {
  background-color: darkolivegreen;
}

.newNoteToFolderDialog-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: darkblue;
}

.existingFoldersDisplay {
  display: none;
  overflow-y: auto;
  /* grid-template-columns: auto auto auto; */
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;

}

.existingFoldersDisplay-content {
  z-index: 1;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-duration: 0.4s}

.existingFoldersDisplay-content h2 {
  margin-bottom: 20px;
}
.existingFoldersDisplay-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.existingFoldersDisplay-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0e0041;
  color: #fff;
  cursor: pointer;
}
.existingFoldersDisplay-content button:hover {
  background-color: darkgreen;
}
.existingFoldersDisplay-content button:active {
  background-color: darkolivegreen;
}
.existingFoldersDisplay-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: darkblue;
}
.existingFoldersDisplay-header h2 {
  margin: 0;
}






/* FOR NEW NOTE WINDOW */
.newNoteDialog {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22,22,22,0.5);
  display: none;
}

.newNoteDialog-content {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* animation-name: animatefade; */
  animation-duration: 0.4s
}

.newNoteDialog-content h2 {
  margin-bottom: 20px;
}

.newNoteDialog-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newNoteDialog-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0e0041;
  color: #fff;
  cursor: pointer;
}

.newNoteDialog-content button:hover {
  background-color: darkgreen;
}

.newNoteDialog-content button:active {
  background-color: darkolivegreen;
}

.newNoteDialog-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: darkblue;
}

.newNoteDialog-header h2 {
  margin: 0;
}

/* JJ: END NEW CODE */

#notes_list {                                                                   /*notes_list*/
  display: grid;
  /* height: 500px; */
  /* height: 100%; */
  overflow-y: auto;
  grid-template-columns: auto auto auto;
}

.note:hover {
  background-color: #ccc;
}
.note:active {
  background-color: white;
}

#edit {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22,22,22,0.5);
  display: none;
}

#edit-tab {
  /* position: relative; */
  margin:auto; transform: translate(0%,10%);
  background-color: white;
  width: 90%;
  height: 80%;
  /* min-width: 300px; */
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#edit-folder-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22,22,22,0.5);
  display: none;
}

#folder-edit-tab {
  /* position: relative; */
  margin:auto; transform: translate(0%,10%);
  background-color: white;
  width: 90%;
  height: 80%;
  /* min-width: 300px; */
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes animatefade {
  from {opacity:0}
  to {opacity:1}
}
search-container {
  text-align: center;
  margin: 10px 0;
}
#searchInput {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
} 
#foldertitle {
  padding: 8px 0px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* editnotedialog */
.edit-note-dialog {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22,22,22,0.5);
  display: none;
}

.edit-note-dialog-content {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* animation-name: animatefade; */
  animation-duration: 0.4s
}

.edit-note-dialog-content h2 {
  margin-bottom: 20px;
}

.edit-note-dialog-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-note-dialog-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0e0041;
  color: #fff;
  cursor: pointer;
}

.edit-note-dialog-content button:hover {
  background-color: darkgreen;
}

.edit-note-dialog-content button:active {
  background-color: darkolivegreen;
}

.edit-note-dialog-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: darkblue;
}

.edit-note-dialog-header h2 {
  margin: 0;
}

.folder_item {
  margin-top: 1em;
  background-color: #e6e6e6;

}

.folder_item:hover {
  background-color: #ccc;
}